*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(150px, auto);
  padding: 20px;
  background-color: #1b202591;
  border-radius: 4px;
  box-shadow: 8px 8px 20px 0 #2e3d4980;
  perspective: 600px; /*This is to add the 3D effect. Smaller the value, larger the effect*/
}

.wrapper .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease-in-out; /* This provides the transition effect.*/
  transform-style: preserve-3d; /* Child elements are in 3D space */
}

.wrapper .card .front,
.wrapper .card .back {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden; /* This is to hide the backside when the element is rotated. */
}

.wrapper .card .front {
  background: #141214;
}

.wrapper .card .back {
  background: #02b3e4;
  color: white;
  font-size: 50px;
  transform: rotateY(180deg);
}
