*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
  background-color: #1b202591;
  border-radius: 4px;
  box-shadow: 8px 8px 20px 0 #2e3d4980;
  perspective: 600px; /*This is to add the 3D effect. Smaller the value, larger the effect*/
}

.wrapper .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease-in-out; /* This provides the transition effect.*/
  transform-style: preserve-3d; /* Child elements are in 3D space */
}

.wrapper .card .front,
.wrapper .card .back {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden; /* This is to hide the backside when the element is rotated. */
}

.wrapper .card .front {
  background: #141214;
}

.wrapper .card .back {
  background: #02b3e4;
  color: white;
  font-size: 40px;
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

/* https://github.com/animate-css/animate.css/blob/main/source/attention_seekers/rubberBand.css */
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* https://github.com/animate-css/animate.css/blob/main/source/attention_seekers/pulse.css */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.rubberBand {
  animation-name: rubberBand;
  animation-duration: 1s;
}

.wrapper .card .back.background--red {
  background: #e2043b;
}

.wrapper .card .back.background--green {
  background: #55f720;
}

@media (max-width: 400px) {
  .wrapper {
    grid-auto-rows: minmax(65px, auto);
  }

  .wrapper .card {
    width: 65px;
  }
}
